{% extends 'layout.html'%}
{% block body %}

<div class="row">
    <div class="col-md-6">
        <p class="lead">
            <a class="tn btn-lg btn-rigth" href="/" role="button">Go back</a>
        </p>
    </div>
</div>

{% for stock in pTreeStocks %}
{% if pTreeStocks[stock][stock+'0'] == 'DATA_FOUND' %}
<p> </p>
<p class="h4 text-light">{{ stock }} <strong class="h6 text-light">{{ pTreeStocks[stock][stock+'1']}}</strong> <strong
        class="h3 text-warning">{{ pTreeStocks[stock][stock+'4']}}</strong> </p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'2']}}</p>
<p class="h6 text-warning">{{ pTreeStocks[stock][stock+'3']}}</p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'5']}}</p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'6']}}</p>

<div class="table-responsive">

    <table class="table table-striped table-sm bg-white table-bordered bg-white">
        <thead>
            <tr>
                {% for vdate in pTreeStocks[stock][stock+'7'] %}
                <td>{{vdate}}</td>
                {% endfor %}
            </tr>
        <tbody>
            <tr>
                {% for vprice in pTreeStocks[stock][stock+'8'] %}
                <td>{{vprice}}</td>
                {% endfor %}
            </tr>
        </tbody>
        </thead>
    </table>
</div>

{% endif %}
{% if pTreeStocks[stock][stock+'0'] == 'NO_DATA_FOUND' %}
<p> </p>
<p class="h4 text-light">{{ stock }}</p>
<div class="table-responsive">
    <table class="table table-striped table-sm bg-white table-bordered bg-white">
        <thead>
            <tr>
                <td>Stock</td>
                <td>Log</td>
            </tr>
        <tbody>
            <tr>
                <td>{{ stock }}</td>
                <td>{{ pTreeStocks[stock][stock+'1'] }}</td>
            </tr>
        </tbody>
        </thead>
    </table>
</div>
{% endif %}
{% endfor %}

{% endblock %}