{% extends 'layout.html'%}
{% block body %}

<div class="row">
    <div class="col-md-6">
        <p class="lead">
            <a class="tn btn-lg btn-rigth" href="/" role="button">Go back</a>
        </p>
    </div>
</div>

{% for stock in pTreeStocks %}
{% if pTreeStocks[stock][stock+'0'] == 'DATA_FOUND' %}
<p> </p>
<p class="h4 text-light">{{ stock }} <strong class="h6 text-light">{{ pTreeStocks[stock][stock+'1']}}</strong> <strong
        class="h3 text-warning">{{ pTreeStocks[stock][stock+'4']}}</strong> </p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'2']}}</p>
<p class="h6 text-warning">{{ pTreeStocks[stock][stock+'3'][1]}}</p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'5'][1]}}</p>
<p class="h6 text-light">{{ pTreeStocks[stock][stock+'5'][3]}}</p>

<div class="table-responsive">

    <table class="table table-striped table-sm bg-white table-bordered bg-white">
        <thead>
            <tr>
                <td>Date</td>
                {% for vdate in pTreeStocks['DATES'] %}
                <td style="text-align:right">{{vdate}}</td>
                {% endfor %}
            </tr>
        <tbody>
            <tr>
                <td>Close Price</td>
                {% for vprice in pTreeStocks[stock][stock+'6'] %}
                <td style="text-align:right">{{vprice}}</td>
                {% endfor %}
            </tr>
        </tbody>
        </thead>
    </table>
</div>

{% endif %}
{% if pTreeStocks[stock][stock+'0'] == 'NO_DATA_FOUND' %}
<p> </p>
<p class="h4 text-light">{{ stock }}</p>
<div class="table-responsive">
    <table class="table table-striped table-sm bg-white table-bordered bg-white">
        <thead>
            <tr>
                <td>Stock</td>
                <td>Log</td>
            </tr>
        <tbody>
            <tr>
                <td>{{ stock }}</td>
                <td>{{ pTreeStocks[stock][stock+'1'] }}</td>
            </tr>
        </tbody>
        </thead>
    </table>
</div>
{% endif %}
{% endfor %}

{% if pTreeStocks['DATES'][0] != '' %}
<p> </p>
<p class="h3 text-light">Grid of Stocks </p>
<p> </p>
<div class="table-responsive-lg">

    <table class="table table-striped table-sm bg-white table-bordered bg-white">
        <tbody>
            <tr>
                <td>Stock</td>
                <td style="text-align:right">Earning Day</td>
                <td style="text-align:right">Average Price</td>
                <td style="text-align:right">Return to Avg</td>
                {% for vdate in pTreeStocks['DATES'] %}
                <td style="text-align:right">{{vdate}}</td>
                {% endfor %}
            </tr>
            {% for stock in pTreeStocks %}
            <tr>             
                {% if pTreeStocks[stock][stock+'0'] == 'DATA_FOUND' %} 
                <td>{{ stock }}</td>
                <td style="text-align:right">{{ pTreeStocks[stock][stock+'3'][0]}}</td>
                <td style="text-align:right">{{ pTreeStocks[stock][stock+'5'][0]}}</td>
                <td style="text-align:right">{{ pTreeStocks[stock][stock+'5'][2]}}</td>
                {% for vprice in pTreeStocks[stock][stock+'6'] %}
                <td style="text-align:right">{{vprice}}</td>
                {% endfor %}
                {% endif %}                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<p> </p>

<div class="row">
    <div class="col-md-6">
        <p class="lead">
            <a class="tn btn-lg btn-rigth" href="/" role="button">Go back</a>
        </p>
    </div>
</div>

{% endblock %}