{% extends 'layout.html'%}
{% block body %}

<div class="row">
    <div class="col-md-4">
        <table class="table table-striped table-bordered bg-white table-sm" >
            <thead>
                <tr>
                    <td>Stock</td>
                    <td>Log</td>
                </tr>
                <tbody>
                    {% for stock in pStocks %}
                    <tr>
                        <td>{{ stock }}</td>
                        <td>{{ pStocks[stock] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>           
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped bg-primary text-white table-sm" >
            <thead>
                <tr>
                    <td>Files were created on location {{ pLocation }}</td>
                </tr>
            </thead>
        </table>           
        <p class="lead">
            <a class="tn btn-lg btn-rigth" href="/" role="button">Go back</a>
        </p>       
    </div>
</div>

{% endblock %}