{% extends 'layout.html'%}
{% block body %}
{% with messages = get_flashed_messages() %}

<div class="col-md-4 offset-md-4">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card card-body">
        <form action="/create_stocks" method="POST" class="form-main">

            <div class="form-group">
                <label for="iDateFrom">Date From</label>
                <input type="date" name="datefrom" class="form-control" placeholder="mm/dd/yyyy" id="iDateFrom" min="1997-01-01" max="2030-12-31">
            </div>

            <div class="form-group">
                <label for="iDateTo">Date To</label>
                <input type="date" name="dateto" class="form-control" placeholder="mm/dd/yyyy" id="iDateTo" min="1997-01-01" max="2030-12-31">
            </div>

            <div class="form-group">
                <label for="iStockTextarea">Enter Tickers (Example: KO,AAPL,DIS)</label>
                <textarea name="StockTextarea" class="form-control" id="iStockTextarea" rows="2" placeholder="KO,AAPL,DIS"></textarea>
            </div>            

            <div class="center">
                <button type="submit" class="tn btn-lg btn-rigth">Submit</button>
            </div>

        </form>
    </div>

</div>

{% endblock %}